
<!DOCTYPE html>
    <html>
        <head>
            <title>Error</title>
            <link rel="icon" href="/images/weather.png">
            <link rel="stylesheet" type="text/css" href="css/style.css">
        </head>
        <body>
            {{>header}}
            <p>{{Name}}</p>

            <p>{{errorMessage}}</p>
            {{>footer}}
        </body>
    </html>