
<!DOCTYPE html>
    <html>
        <head>
            <title> About</title>
            <link rel="icon" href="/images/weather.png">
            <link rel="stylesheet" type="text/css" href="css/style.css">
        </head>
        <body>
            <div class="main-content">
            {{>header}}
            <h1>This is about page.</h1>
            <img class="portrait" src="images/1.jpg" alt="img"  height="600" align="center" width="500">
            <h1>{{title}}</h1>
            <p>{{Name}}</p>
            </div>
            {{>footer}}
        </body>
    </html>