
<!DOCTYPE html>
    <html>
        <head>
            <title>Help</title>
            <link rel="icon" href="/images/weather.png">
            <link rel="stylesheet" type="text/css" href="css/style.css">
        </head>
        <body>
            <div class="main-content">
                {{title}}
            {{>header}}
            <p> This is web application is created by {{name}} for eduactional purpose. It takes the geolocation from the form provided on
                 <a href="/index">Homepage</a> and tells its weather at current time using it latitude and longitude.
                 <h5>Frontend on</h5>: HTML CSS
                 <h5>Backend on:</h5> Node.js
                 To know more about it contact me at:
                 
             </p>

            </div>

            {{>footer}}


        </body>
    </html>
