body{
    color: #333333;
    font-family: arial;
    max-width:1000px;
    margin:0 auto;
    padding:0 16px;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    background-image: url('/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    flex-grow:1;
}

footer{
    color:	#d4caca; 
    border-top:1px solid #eeeeee;
    margin-top:16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 100px;
    margin-bottom: 16px;
    margin-top: 10%;
    margin-left: 20%;
    color: 	#d4caca;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 250px;

}

table{
    margin-top: 5%;
    margin-left: 20%;
}
input{
    border: 1px solid  #888888;
    padding: 8px;
    /* border: #4169E1; */
    border-width: 2px;
    border-radius: 5px;
}

.intro{
    /* margin-top: 2%; */
    margin-left: 20%;
    font-size: 25px;
    color: 	#d4caca;

    
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background:  rgb(41, 41, 216);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 4%;
}

button:hover{
    background-color: rgb(13, 13, 170);
}

#message-1{
    margin-left: 20%;
    font-size: 20px;
    color: 	#d4caca;
}

#message-2{
   margin-left: 20%;
    font-size: 20px;
    color: 	#d4caca;
}